<div class="container mt-5">
    <div class="row">

        <body class="bg-light">
            <div action="" class="custom-centered">

                <div class="sufee-login d-flex align-content-center flex-wrap">
                    <div class="container">
                        <div class="login-content">
                            <div class="login-logo">
                                <h2 class="text-center">ADMIN LOGIN</h2>
                                {{!-- <a href="index.html">
                                    <img class="align-content" src="/admin/images/BATOOL.png" alt="">
                                </a> --}}
                            </div>
                            <div class="login-form">
                                <form method="post" action="/admin/login">
                                    <div class="form-group mt-5">
                                        <label>Email address</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" class="form-control"
                                            placeholder="Password">
                                    </div>
                                    <div class="checkbox">
                                        {{!-- <label>
                                            <input type="checkbox"> Remember Me
                                        </label> --}}
                                        {{!-- <label class="pull-right">
                                            <a href="#">Forgotten Password?</a>
                                        </label> --}}

                                    </div>
                                    <button type="submit"
                                        class="btn btn-success btn-flat m-b-30 m-t-30 float-right">Login</button>
                                    <div class="social-login-content">
                                        <div class="social-button">
                                            {{!-- <button type="button"
                                                class="btn social facebook btn-flat btn-addon mb-3"><i
                                                    class="ti-facebook"></i>Sign in with facebook</button> --}}
                                            {{!-- <button type="button"
                                                class="btn social twitter btn-flat btn-addon mt-2"><i
                                                    class="ti-twitter"></i>Sign in with twitter</button> --}}
                                        </div>
                                    </div>
                                    {{!-- <div class="register-link m-t-15 text-center"> --}}
                                        {{!-- <p>Don't have account ? <a href="/admin/signup"> Sign Up Here</a></p> --}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


        </body>
    </div>
</div>
</div>
<style type="text/css">
    .custom-centered {
        margin: 0 auto;
        width: 400px;
        px;

    }
</style>