<!doctype html>
<html class="no-js" lang="">

<head>

<body>
    <div id="right-panel" class="right-panel">
        <a class="text-center btn btn-success float-right  mt-5" href="/admin/add-catagory">Add Catagory</a>
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>VIEW ALL CATAGORIES</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each allCatagory}}
                                        <tr>
                                            <td>{{this.catagory}}</td>
                                            <td>
                                                <a href="/admin/delete-catagory/{{this.catagory}}" class="btn btn-danger"
                                                    onclick=" return confirm('make sure no product under {{this.catagory}} ?')">Delete</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>