<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-center">
				<div class="col-first">
					<h1>Order Placed Successfully....</h1>
					
				</div>
			</div>
		</div>
	</section>
<section class="vh-100" style="background-color:white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-50 text-center">
      <div class="col">
        
         <a class="primary-btn" href="/order-success">View Order</a>
      </div>
    </div>
  </div>
</section>