


{{!-- <div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 ps-5">
            <h2 class="text-center">Create new account</h2>
            

            <!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	

<body>

	<!-- Start Header Area -->
	
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end mt-5">
				<div class="col-first mt-5">
					{{!-- <h1>Login/Register</h1> --}}
					<nav class="d-flex align-items-center mt-5">
						{{!-- <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a> --}}
						{{!-- <a href="category.html">Login/Register</a> --}}
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/images/63382c8a0e2f402d5fd403d0.jpg" alt="">
						{{!-- <div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/signup">Create an Account</a>
						</div> --}}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Signup</h3>
						<form class="row login_form" action="/signup" method="post" id="signup-form" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required minlength="3">
							</div>
							{{!-- <h5 id="usercheck" style="color: red;">
                        **Username is missing
                    </h5> --}}
                            <div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"  required>
							</div>
							
							<div class="col-md-12 form-group">
								<input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="passowrd" name="password" placeholder="Password"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							
                            <div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="cpassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" equalTo="password">
							</div>
							
							<div class="col-md-12 form-group">
								<a href="/login">Already have account ?</a>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Signup</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	


	

</body>



</html>

        </div>

    </div>
</div>





